@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "newake";
  src: url("/fonts/newake.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.position-unset {
  position: unset;
}

.dropdown-no-anim {
  transition: none !important;
  animation: none !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.outline {
  color: transparent;
  -webkit-text-stroke: 0.8px #ffddf0; /* rose plus clair */
}

.neon-outline {
  color: transparent;
  filter: drop-shadow(0 0 2px #be3155) drop-shadow(0 0 8px #be3155);
}
